<h1>Profil de <%= @user.first_name %> <%= @user.last_name %></h1>

<p><strong>Email :</strong> <%= @user.email %></p>
<p><strong>Description :</strong> <%= @user.description || "Pas de description" %></p>

<h2>Mes événements :</h2>
<ul>
  <% @events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>

<%= link_to 'Modifier mon email et mon mot de passe', edit_user_registration_path, class: 'btn btn-secondary' %>


<%= link_to 'Éditer mon profil', edit_user_path(@user), class: 'btn btn-primary' %>

